<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.myapp.mapper.PartMapper">
	<!-- 품목 조건 검색 -->
	<sql id="criteria">
    	<trim prefixOverrides="OR">
	    	<foreach item="type" collection="typeArr">
	    		<trim prefix="OR">
		    		<choose>
		    			<when test='type=="C"'>
		    				and A.partcode like '%'||#{keyword}||'%'
		    			</when>
		    			
		    			<when test='type=="W"'>
		    				and A.partname like '%'||#{keyword}||'%'
		    			</when>
		    		</choose>
	    		</trim>
	    	</foreach>
		</trim>
    	
    	<trim prefixOverrides="OR">
	    	<foreach item="ptype" collection="ptypeArr">
	    		<trim prefix="OR">
		    		<choose>
		    			<when test='ptype=="W"'>
		    				and A.partname like '%'||#{pkeyword}||'%'
		    			</when>
		    		</choose>
	    		</trim>
	    	</foreach>
    	</trim>
	</sql>
	
	<!-- 품목 페이지처리 -->
	<select id="getPartWithPaging" resultType="org.myapp.domain.PartVO">
		select partcode, partname, nickname, library, librarym, remark, common, drw_no, status, partdate, uuid, uploadpath, filename
		from (select rownum rn, partcode, partname, nickname, library, librarym, remark, common, drw_no, status, partdate, uuid, uploadpath, filename
		    from (select A.partcode, A.partname, A.nickname, A.library, A.librarym, A.remark, A.common, A.drw_no, A.status, A.partdate, B.uuid, B.uploadpath, B.filename from tbl_part A
            	left outer join tbl_attach B on A.partcode=B.partcode where A.status='0'
		<include refid="criteria"></include>
			
		    <![CDATA[order by A.partdate desc)
		    	where rownum <= (#{pageNum} * #{amount})) 
		where rn > ((#{pageNum} -1) * #{amount})]]>
	</select>
	
	<!-- 품목등록 -->
	<insert id="insertSelectKey">
	 	<selectKey keyProperty="Drw_No" order="BEFORE" resultType="long">
			select ${partCode}.nextval from dual
		</selectKey>
		insert into tbl_part(PartCode, partname, nickname, library, librarym, remark, common, drw_no)
		values(#{partCode}||#{drw_No}, #{partName}, #{nickName}, #{library}, #{librarym}, #{remark}, #{common}, #{drw_No, jdbcType=VARCHAR})
	</insert>
	
	<!-- 품목개수 -->
	<select id="count" resultType="long">
		select count(*) from tbl_part A
        left outer join tbl_attach B on A.partcode=B.partcode
        where A.status='0'
		<include refid="criteria"></include>
	</select>
	
	<!-- 품목삭제 -->
	<update id="delete">
		<!-- delete from tbl_part where partcode=#{partCode} -->
		update tbl_part set status='1' where partcode=#{partCode}
	</update>
	
	<!-- 품목 개별조회 -->
	<select id="read" resultType="org.myapp.domain.PartVO">
		select A.partcode, A.partname, A.nickname, A.library, A.librarym, A.remark, A.common, A.drw_no, B.filename from tbl_part A full outer join tbl_attach B
        on A.partcode=B.partcode where A.partcode=#{partCode, jdbcType=VARCHAR}
	</select>
	
	<!-- 품목정보수정 -->
	<update id="update">
		<selectKey keyProperty="Drw_No" order="BEFORE" resultType="long">
			select ${library}${librarym}.nextval from dual
		</selectKey>
		update tbl_part set partcode=(#{library}||#{librarym}||#{drw_No}), partname=#{partName}, nickname=#{nickName}, library=#{library}, librarym=#{librarym}, remark=#{remark}, common=#{common}, drw_no=#{drw_No} where partcode=#{partCode}
	</update>
	
	<!-- 품목 개별조회 -->
	<select id="getRead" resultType="org.myapp.domain.PartVO">
		select partcode, partname, nickname, library, librarym, remark, common, drw_no from tbl_part where partname=#{partName, jdbcType=VARCHAR}
	</select>
	
</mapper>
